<!-- CATEGORIES START -->
<h2 class="no-top-space">Danh mục</h2>
<ul class="nav sidebar-categories margin-bottom-40">
  <li *ngFor="let menu of menusDB" [ngClass]="{'active': menu.url === subUrl}">
    <a routerLink="/{{menu.url}}">
     {{menu.name}} <span *ngIf="menu.posts.length > 1">({{menu.posts.length}})</span>
    </a>
  </li>
</ul>
<!-- CATEGORIES END -->

<!-- BEGIN RECENT NEWS -->                            
<h2>Tin mới nhất</h2>
<div class="recent-news margin-bottom-10" *ngFor="let menu of getMenuWithCurrentUrl()">
  <div class="row margin-bottom-10" *ngFor="let post of menu.posts | slice:0:3">
    <div class="col-md-3">
      <img class="img-responsive" *ngIf="post.image" [src]="post.image" alt="">
      <img src="../../../assets/global/img/Empty.png" class="img-responsive" *ngIf="!post.image"/>
    </div>
    <div class="col-md-9 recent-news-inner">
      <h3><a href="javascript:;">{{post.title.length > 50 ? (post.title.substr(0,50) +'..') : (post.title)}}</a></h3>
      <p>{{post.tags}}</p>
    </div>                        
  </div>
</div>
<!-- END RECENT NEWS -->                            

<!-- BEGIN BLOG TALKS -->
<div class="blog-talks margin-bottom-30">
  <h2>Nhận xét mới nhất</h2>
  <div class="tab-style-1">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1">Multipurpose</a></li>
      <li><a data-toggle="tab" href="#tab-2">Documented</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane row-fluid fade in active">
        <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
        <p><a class="more" href="javascript:;">Read more</a></p>
      </div>
      <div id="tab-2" class="tab-pane fade">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. aliquip jean shorts ullamco ad vinyl aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
      </div>
    </div>
  </div>
</div>                            
<!-- END BLOG TALKS -->

<!-- BEGIN BLOG PHOTOS STREAM -->
<div class="blog-photo-stream margin-bottom-20">
  <h2>Hình ảnh</h2>
  <ul class="list-unstyled">
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img5-small.jpg"></a></li>
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img1.jpg"></a></li>
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img4-large.jpg"></a></li>
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img6.jpg"></a></li>
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/pics/img1-large.jpg"></a></li>
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/pics/img2-large.jpg"></a></li>
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img3.jpg"></a></li>
    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img2-large.jpg"></a></li>
  </ul>                    
</div>
<!-- END BLOG PHOTOS STREAM -->

<!-- BEGIN BLOG TAGS -->
<div class="blog-tags margin-bottom-20">
  <h2>Tags</h2>
  <ul>
    <li><a href="javascript:;"><i class="fa fa-tags"></i>Media</a></li>
    <li><a href="javascript:;"><i class="fa fa-tags"></i>BC</a></li>
  </ul>
</div>
<!-- END BLOG TAGS -->