<div class="container">
    <div class="row">
        <!-- BEGIN TOP BAR LEFT PART -->
        <div class="col-md-6 col-sm-6 additional-shop-info">
            <ul class="list-unstyled list-inline" *ngIf="companyDB">
                <li><i class="fa fa-phone"></i><span>{{companyDB.phone}}</span></li>
                <li><i class="fa fa-envelope-o"></i><span>{{companyDB.email}}</span></li>
            </ul>
        </div>
        <!-- END TOP BAR LEFT PART -->

        <!-- BEGIN TOP BAR MENU -->
        <div class="col-md-6 col-sm-6 additional-nav">
            <ul class="list-unstyled list-inline pull-right">
                <!-- <li><a href="page-login.html">Đăng nhập</a></li>
                <li><a href="page-reg-page.html">Đăng ký</a></li> -->
                <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                <!-- <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
                <li><a href="javascript:;"><i class="fa fa-github"></i></a></li> -->
                <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
                <!-- <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li> -->
            </ul>
        </div>
        <!-- END TOP BAR MENU -->
    </div>
</div>        