<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href=".">Trang chủ</a></li>
            <li><a routerLink="/settings">Cài đặt</a></li>
            <li class="active">Chi tiết '{{ (postTitle.length > 50) ? (postTitle | slice:0:50)+'..' : (postTitle) }}'</li>
        </ul>
        <div class="row margin-bottom-20">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <div class="content-page">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="portlet box blue">

                                    <div class="portlet-title" >
                                        <div class="caption">
                                            <i class="fa fa-home"></i>Thôn tin Module '{{ (postTitle.length > 50) ? (postTitle | slice:0:50)+'..' : (postTitle) }}'
                                        </div>
                                    </div>
                                
                                    <div class="portlet-body">

                                        <img src="../../../assets/global/img/loading.gif" *ngIf="isLoading" style="padding-left: 48%;" />
                                        <form method="{{method}}" class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="postDB" novalidate>
                                            <div class="form-group" *ngIf="postDB.id">
                                                <label for="id" class="col-md-2 control-label">
                                                    ID
                                                </label>
                                                <div class="col-md-4">
                                                    <input name="id" readonly
                                                        class="form-control" [(ngModel)]="postDB.id" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="title" class="col-md-2 control-label">
                                                    Tiêu đề
                                                </label>
                                                <div class="col-md-10">
                                                    <input name="title" [(ngModel)]="postDB.title"
                                                        class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="description" class="col-md-2 control-label">
                                                    Mô tả
                                                </label>
                                                <div class="col-md-10">
                                                    <textarea name="description" style="height:300px" [(ngModel)]="postDB.description"
                                                        class="form-control" required>
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="videoUrl" class="col-md-2 control-label">
                                                   Video URL
                                                </label>
                                                <div class="col-md-10">
                                                    <input name="videoUrl" [(ngModel)]="postDB.video_url"
                                                        class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="videoEmbed" class="col-md-2 control-label">
                                                    Video Embed
                                                </label>
                                                <div class="col-md-10">
                                                    <input name="videoEmbed" [(ngModel)]="postDB.video_embed"
                                                        class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tags" class="col-md-2 control-label">
                                                    Tags
                                                </label>
                                                <div class="col-md-10">
                                                    <input name="tags" [(ngModel)]="postDB.tags"
                                                        class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn blue">Lưu</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
        </div>
    </div>