<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-40" app-slider [ngStyle]="{'marginTop': '-22px'}"></div>
<!-- END SLIDER -->

<div class="main">
    <div class="container">

      <!-- BEGIN TABS AND TESTIMONIALS -->
      <div class="row mix-block margin-bottom-40">
        <!-- TABS -->
        <div class="col-md-7 tab-style-1" app-category></div>
        <!-- END TABS -->
      
        <!-- TESTIMONIALS -->
        <div class="col-md-5 testimonials-v1">
          <img src="../../../assets/global/img/loading.gif" *ngIf="isLoading" style="padding-left: 48%;"  />

          <owl-carousel-o [options]="customOptions" *ngIf="postsDB">
             <ng-container *ngFor="let item of postsDB">
              <ng-template carouselSlide>
                <div class="slider">
                  <blockquote><p>{{item.type}}</p></blockquote>
                  <div class="carousel-info">
                      <div class="pull-left">
                        <a class="testimonials-name" style="font-size: 25px;" routerLink="/post/{{item.id}}">
                          {{item.title ? item.title : '(Trống)'}}
                        </a>
                        <span class="testimonials-post" [innerHTML]="item.description"></span>
                      </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
        <!-- END TESTIMONIALS -->
      </div>

      <!-- BEGIN SERVICE BOX -->   
      <div class="row service-box margin-bottom-40" app-service></div>
      <!-- END SERVICE BOX -->
  
      <!-- BEGIN BLOCKQUOTE BLOCK -->   
      <div class="row quote-v1 margin-bottom-30">
        <div class="col-md-9">
          <span>Nghỉ dưỡng &amp; Du lịch &amp; Tham quan</span>
        </div>
        <div class="col-md-3 text-right">
          <a class="btn-transparent" href="#" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Tìm hiểu thêm</a>
        </div>
      </div>
      <!-- END BLOCKQUOTE BLOCK -->
  
      <!-- BEGIN RECENT Activities -->
      <div class="row recent-work margin-bottom-40">
        <div class="col-md-3">
          <h2><a href="portfolio.html">Dự án</a></h2>
          <p>VTV, HTV, VOV...</p>
        </div>
        <div class="col-md-9">
          <div app-activity></div>
        </div>
      </div>   
      <!-- END RECENT Activities -->
  
                      
      <!-- END TABS AND TESTIMONIALS -->
  
      <!-- BEGIN STEPS -->
      <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
        <div class="col-md-4 col-sm-4 front-step-col">
          <div class="front-step front-step1">
            <h2>Mục tiêu</h2>
            <p>Phát triển nền du lịch xứ thanh</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 front-step-col">
          <div class="front-step front-step2">
            <h2>Kế hoạch</h2>
            <p>Phát triển dịch vụ truyền thông</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 front-step-col">
          <div class="front-step front-step3">
            <h2>Thực hiện</h2>
            <p>Đang phát triển...</p>
          </div>
        </div>
      </div>
      <!-- END STEPS -->
  
      <!-- BEGIN CLIENTS -->
      <div class="row margin-bottom-40 our-clients">
        <div class="col-md-3">
          <h2><a href="javascript:;">Đối tác</a></h2>
          <p>Khách hàng, nhà tài trợ</p>
        </div>
        <div class="col-md-9">
          <div class="owl-carousel owl-carousel6-brands">
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_1_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_1.png" class="color-img img-responsive" alt="">
              </a>
            </div>
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_2_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_2.png" class="color-img img-responsive" alt="">
              </a>
            </div>
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_3_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_3.png" class="color-img img-responsive" alt="">
              </a>
            </div>
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_4_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_4.png" class="color-img img-responsive" alt="">
              </a>
            </div>
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_5_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_5.png" class="color-img img-responsive" alt="">
              </a>
            </div>
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_6_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_6.png" class="color-img img-responsive" alt="">
              </a>
            </div>
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_7_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_7.png" class="color-img img-responsive" alt="">
              </a>
            </div>
            <div class="client-item">
              <a href="javascript:;">
                <img src="../../assets/frontend/pages/img/clients/client_8_gray.png" class="img-responsive" alt="">
                <img src="../../assets/frontend/pages/img/clients/client_8.png" class="color-img img-responsive" alt="">
              </a>
            </div>                  
          </div>
        </div>          
      </div>
      <!-- END CLIENTS -->
    </div>
</div>