  <ul class="nav nav-tabs">
    <li *ngFor="let category of categories; let i = index" [ngClass]="{'active': i === 0}">
        <a href="#tab-{{i+1}}" data-toggle="tab">{{category.name}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in" id="tab-{{i+1}}" 
        *ngFor="let category of categories; let i = index" 
        [ngClass]="{'active': i === 0, 'row': category.image}">
    
        <div class="col-md-3 col-sm-3" *ngIf="category.image">
            <a [href]="category.image" class="fancybox-button" title="{{category.name}}" data-rel="fancybox-button">
            <img class="img-responsive" [src]="category.image" alt="">
            </a>
        </div>
        <div class="col-md-9 col-sm-9" *ngIf="category.image">
            <p [ngClass]="{'margin-bottom-10': category.bottom}">{{ (category.description.length > 300) ? (category.description | slice:0:300)+'..' : (category.description) }}</p>
            <p *ngIf="category.href"><a class="more" [href]="category.href">Xem thêm <i class="icon-angle-right"></i></a></p>
        </div>

        <!-- If tab no image -->
        <p [ngClass]="{'margin-bottom-10': category.bottom}" *ngIf="!category.image">
            {{ (category.description.length > 300) ? (category.description | slice:0:300)+'..' : (category.description) }}
        </p>
        <p *ngIf="!category.image && category.href">
            <a class="more" href="javascript:;">Xem thêm <i class="icon-angle-right"></i></a>
        </p>

    </div>
  </div>