<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          <li><a href=".">Trang chủ</a></li>
          <li><a routerLink="/{{parentLink}}">Bài viết</a></li>
          <li class="active">Chi tiết '{{ (postTitle.length > 50) ? (postTitle | slice:0:50)+'..' : (postTitle) }}'</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12" *ngIf="postDB">
          <h1>{{postDB.title}}</h1>
          <div class="content-page">
            <div class="row">
              <!-- BEGIN LEFT SIDEBAR -->            
              <div class="col-md-9 col-sm-9 blog-item">
                
                <div [innerHTML]="byPassHTML(postDB.description)"></div>

                <hr />
                <h2>Danh sách bình luận</h2>
                <div class="comments">
                  <div class="media">                    
                    <a href="javascript:;" class="pull-left">
                    <img src="../../assets/frontend/pages/img/people/img1-small.jpg" alt="" class="media-object">
                    </a>
                    <div class="media-body">
                      <!-- <h4 class="media-heading">Media heading <span>5 hours ago / <a href="javascript:;">Reply</a></span></h4>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
                      <!-- Nested media object -->
                      <!-- <div class="media">
                        <a href="javascript:;" class="pull-left">
                        <img src="../../assets/frontend/pages/img/people/img2-small.jpg" alt="" class="media-object">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading">Media heading <span>17 hours ago / <a href="javascript:;">Reply</a></span></h4>
                          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                      </div> -->
                      <!--end media-->                      
                      <!-- <div class="media">
                        <a href="javascript:;" class="pull-left">
                        <img src="../../assets/frontend/pages/img/people/img3-small.jpg" alt="" class="media-object">
                        </a>
                        <div class="media-body">
                          <h4 class="media-heading">Media heading <span>2 days ago / <a href="javascript:;">Reply</a></span></h4>
                          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        </div>
                      </div> -->
                      <!--end media-->
                    </div>
                  </div>
                  <!--end media-->
                  <!-- <div class="media">
                    <a href="javascript:;" class="pull-left">
                    <img src="../../assets/frontend/pages/img/people/img4-small.jpg" alt="" class="media-object">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Media heading <span>July 25,2013 / <a href="javascript:;">Reply</a></span></h4>
                      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    </div>
                  </div> -->
                  <!--end media-->
                </div>

                <div class="post-comment padding-top-40">
                  <h3>Bình luận</h3>
                  <form role="form">
                    <div class="form-group">
                      <label>Tên</label>
                      <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                      <label>Email <span class="color-red">*</span></label>
                      <input class="form-control" type="text">
                    </div>

                    <div class="form-group">
                      <label>Lời bình luận</label>
                      <textarea class="form-control" rows="8"></textarea>
                    </div>
                    <p><button class="btn btn-primary" type="submit">Xác nhận</button></p>
                  </form>
                </div>                      
              </div>
              <!-- END LEFT SIDEBAR -->

              <!-- BEGIN RIGHT SIDEBAR -->            
              <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- CATEGORIES START -->
                <h2 class="no-top-space">Danh mục</h2>
                <ul class="nav sidebar-categories margin-bottom-40">
                  <li><a href="javascript:;">Lĩnh Vực (18)</a></li>
                  <li><a href="javascript:;">Tin tức (5)</a></li>
                  <li class="active"><a href="javascript:;">Paris (12)</a></li>
                  <li><a href="javascript:;">BCMediaTV (3)</a></li>
                  <li><a href="javascript:;">Thư Viện (3)</a></li>
                </ul>
                <!-- CATEGORIES END -->

                <!-- BEGIN RECENT NEWS -->                            
                <h2>Tin mới nhất</h2>
                <div class="recent-news margin-bottom-10">
                  <div class="row margin-bottom-10">
                    <div class="col-md-3">
                      <img class="img-responsive" alt="" src="../../assets/frontend/pages/img/people/img2-large.jpg">                        
                    </div>
                    <div class="col-md-9 recent-news-inner">
                      <h3><a href="javascript:;">Letiusto gnissimos</a></h3>
                      <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                    </div>                        
                  </div>
                  <div class="row margin-bottom-10">
                    <div class="col-md-3">
                      <img class="img-responsive" alt="" src="../../assets/frontend/pages/img/people/img1-large.jpg">                        
                    </div>
                    <div class="col-md-9 recent-news-inner">
                      <h3><a href="javascript:;">Deiusto anissimos</a></h3>
                      <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                    </div>                        
                  </div>
                  <div class="row margin-bottom-10">
                    <div class="col-md-3">
                      <img class="img-responsive" alt="" src="../../assets/frontend/pages/img/people/img3-large.jpg">                        
                    </div>
                    <div class="col-md-9 recent-news-inner">
                      <h3><a href="javascript:;">Tesiusto baissimos</a></h3>
                      <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                    </div>                        
                  </div>
                </div>
                <!-- END RECENT NEWS -->                            

                <!-- BEGIN BLOG TALKS -->
                <div class="blog-talks margin-bottom-30">
                  <h2>Nhận xét mới nhất</h2>
                  <div class="tab-style-1">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#tab-1">Multipurpose</a></li>
                      <li><a data-toggle="tab" href="#tab-2">Documented</a></li>
                    </ul>
                    <div class="tab-content">
                      <div id="tab-1" class="tab-pane row-fluid fade in active">
                        <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                        <p><a class="more" href="javascript:;">Read more</a></p>
                      </div>
                      <div id="tab-2" class="tab-pane fade">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. aliquip jean shorts ullamco ad vinyl aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                      </div>
                    </div>
                  </div>
                </div>                            
                <!-- END BLOG TALKS -->

                <!-- BEGIN BLOG PHOTOS STREAM -->
                <div class="blog-photo-stream margin-bottom-20">
                  <h2>Hình ảnh</h2>
                  <ul class="list-unstyled">
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img5-small.jpg"></a></li>
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img1.jpg"></a></li>
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img4-large.jpg"></a></li>
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img6.jpg"></a></li>
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/pics/img1-large.jpg"></a></li>
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/pics/img2-large.jpg"></a></li>
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/works/img3.jpg"></a></li>
                    <li><a href="javascript:;"><img alt="" src="../../assets/frontend/pages/img/people/img2-large.jpg"></a></li>
                  </ul>                    
                </div>
                <!-- END BLOG PHOTOS STREAM -->

                <!-- BEGIN BLOG TAGS -->
                <div class="blog-tags margin-bottom-20">
                  <h2>Tags</h2>
                  <ul>
                    <li><a href="javascript:;"><i class="fa fa-tags"></i>Media</a></li>
                    <li><a href="javascript:;"><i class="fa fa-tags"></i>BC</a></li>
                  </ul>
                </div>
                <!-- END BLOG TAGS -->
              </div>
              <!-- END RIGHT SIDEBAR -->          
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>