<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          <li><a href=".">Trang chủ</a></li>
          <li class="active">Bài viết</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">

          <h1 *ngIf="isLoading">Đang tải dữ liệu</h1>
          <img src="../../../assets/global/img/loading.gif" *ngIf="isLoading" style="padding-left: 30%;" />

          <h1 *ngIf="postsDB.length > 0 && !isLoading">Bài viết được xem nhiều nhất</h1>
          <h1 *ngIf="postsDB.length == 0 && !isLoading">Chưa có bài viết mới</h1>
          
          <div class="content-page">
            <div class="row">
              <!-- BEGIN LEFT SIDEBAR -->            
              <div class="col-md-9 col-sm-9 blog-posts" *ngIf="postsDB">
                <div *ngFor="let post of postsDB">
                    <div class="row">
                    <div class="col-md-4 col-sm-4">

                        <img src="../../../assets/global/img/Empty.png" 
                          width="200" *ngIf="!post.image && !post.video_embed"/>

                        <img [src]="post.image" alt="{{post.title}}" width="200"
                          *ngIf="post.image != '' && !post.video_embed" style="height: 100% !important"/>
                          
                        <iframe height="205" style="width:100%; border:0"
                            *ngIf="post.video_embed.indexOf('embed') > -1"
                            [src]="sanitizer.bypassSecurityTrustResourceUrl(post.video_embed)" frameborder="0" allowfullscreen>
                        </iframe>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <h2><a routerLink="/post/{{post.id}}">{{post.title}}</a></h2>
                        <ul class="blog-info">
                        <li><i class="fa fa-calendar"></i> {{post.created}}</li>
                        <li><i class="fa fa-comments"></i> {{post.viewers}}</li>
                        <li><i class="fa fa-tags"></i>{{post.tags}}</li>
                        </ul>
                        <p [innerHTML]="post.description"></p>
                        <a routerLink="/post/{{post.id}}" class="more">Đọc thêm <i class="fa fa-angle-right"></i></a>
                    </div>
                    </div>
                    <hr class="blog-post-sep">
                </div>
                <ul class="pagination">
                  <li><a href="javascript:;">Trước</a></li>
                  <li class="active"><a href="javascript:;">{{postsDB.length}}</a></li>
                  <li><a href="javascript:;">Sau</a></li>
                </ul>               
              </div>
              <!-- END LEFT SIDEBAR -->

              <!-- BEGIN RIGHT SIDEBAR -->            
              <div class="col-md-3 col-sm-3 blog-sidebar" app-side-bar></div>
              <!-- END RIGHT SIDEBAR -->            
            </div>
          </div>
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>